@page
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News List Layout</title>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/animate.css">
    <script src="scripts/news-api.js"></script>
    <script src="scripts/views/index.js" defer></script>
    <script src="scripts/sanitizer.js" defer></script>
    <script src="scripts/main.js" defer></script>
    <script src="scripts/secondmain.js" defer></script>
</head>
<body>
    <div class="tabbar">
        <h1 class="Logo"> <a href="..">Majmunje News</a></h1>
        <div class="auth-options" id="auth-option">
        </div>
    </div>
    <div class="news-list" id="listidobject">
    </div>
</body>
</html>

